<?xml version="1.0"?>
<!--
/**
 * @copyright   Copyright © Avarda. All rights reserved.
 * @package     Avarda_Checkout3
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="avarda_checkout3_section">
                <group id="payment_widget" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Avarda Payment Widget</label>
                    <field id="checkout_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Payment Widget</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>avarda/payment_widget/checkout_active</config_path>
                    </field>
                    <field id="checkout_widget_threshold"  translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Threshold</label>
                        <config_path>avarda/payment_widget/checkout_widget_threshold</config_path>
                        <depends>
                            <field id="*/*/*/checkout_active">1</field>
                        </depends>
                    </field>
                    <field id="checkout_account_class_directinvoice" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Account Class for DirectInvoice</label>
                        <config_path>avarda/payment_widget/checkout_account_class_directinvoice</config_path>
                        <depends>
                            <field id="*/*/*/checkout_active">1</field>
                        </depends>
                    </field>
                    <field id="checkout_account_class_loan" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Account Class for Loan</label>
                        <config_path>avarda/payment_widget/checkout_account_class_loan</config_path>
                        <depends>
                            <field id="*/*/*/checkout_active">1</field>
                        </depends>
                    </field>
                    <field id="checkout_custom_css" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom Css</label>
                        <config_path>avarda/payment_widget/checkout_custom_css</config_path>
                        <comment><![CDATA[<a target="_blank" rel="noopener" href="https://docs.avarda.com/checkout-3/more-features/custom-css-styles/">See documentation here</a>, add each config as one row for example:
                        <pre class="code-example">buttons.primary.base.backgroundColor='#fff'
buttons.primary.fontSize='15'</pre>]]></comment>
                        <depends>
                            <field id="*/*/*/checkout_active">1</field>
                        </depends>
                    </field>
                </group>
            </group>
            <group id="avarda_payments_payments_section">
                <group id="payment_widget" translate="label comment" sortOrder="30" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Avarda Payment Widget</label>
                    <field id="invoice_active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Payment Widget</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>avarda/payment_widget/invoice_active</config_path>
                    </field>
                    <field id="invoice_widget_threshold"  translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Threshold</label>
                        <config_path>avarda/payment_widget/invoice_widget_threshold</config_path>
                        <depends>
                            <field id="*/*/*/invoice_active">1</field>
                        </depends>
                    </field>
                    <field id="invoice_account_class_directinvoice" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Account Class for DirectInvoice</label>
                        <config_path>avarda/payment_widget/invoice_account_class_directinvoice</config_path>
                        <depends>
                            <field id="*/*/*/invoice_active">1</field>
                        </depends>
                    </field>
                    <field id="invoice_account_class_loan" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Account Class for Loan</label>
                        <config_path>avarda/payment_widget/invoice_account_class_loan</config_path>
                        <depends>
                            <field id="*/*/*/invoice_active">1</field>
                        </depends>
                    </field>
                    <field id="invoice_custom_css" translate="label" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Custom Css</label>
                        <config_path>avarda/payment_widget/invoice_custom_css</config_path>
                        <comment><![CDATA[<a target="_blank" rel="noopener" href="https://docs.avarda.com/checkout-3/more-features/custom-css-styles/">See documentation here</a>, add each config as one row for example:
                    <pre class="code-example">buttons.primary.base.backgroundColor='#fff'
buttons.primary.fontSize='15'</pre>]]></comment>
                        <depends>
                            <field id="*/*/*/invoice_active">1</field>
                        </depends>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>
